body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.container{
    width: 360px;
    padding: 7% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: rgb(255, 255, 255);
    max-width: 360px;
    margin: 10 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px;
}
.form img{
    width: 130px;
    margin-bottom: 10%;
}
.form input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: 0;
    background: #f1f1f1;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
}
.form button{
    outline: 0;
    background: rgb(103, 160, 207);
    padding: 9px;
    border: 0;
    color: rgb(102, 101, 101);
    cursor: pointer;
    border-radius: 5px;
}
.form button:hover{
    background: rgb(80, 124, 160);
}
.form a{
    padding: 9px;
}

/* --------------------- */
.card{
    width: 360px; /* Ancho de la tarjeta */
    padding: 1% 0 0; /* Espaciado interno de la tarjeta */
    box-shadow: 0 0 20px; /* Sombra de la tarjeta */
    box-sizing: border-box; /* Hace que el padding no afecte el ancho total de la tarjeta */
    object-fit: cover; /* Ajusta la imagen al tamaño de la tarjeta */
    margin: auto; /* Centra la tarjeta */
}
.card-body i{
    border: 0;
    margin: 0 0 5px;
}
.card-body a{
    padding: 9px;
}
.card-body button{
    outline: 0;
    padding: 5px;
    border: 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
}

.formulario__label{
    display: block;
    font-weight:700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 160%;  /* Ancho del input */
    background-color: #f1f1f1;
    border: 1px solid transparent; /* Borde del input */
    padding: 7px;  /* Espacio interno del input */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 7px; /* Espacio entre los input */
    box-sizing: border-box; /* Hace que el padding no afecte el ancho total del input */
    font-size: 15px; /* Tamaño de la letra */
    transition: .3s ease all; /* Efecto de transición */
}

.formulario__input:focus{
    border: 1px solid #0075ff;
    outline: none;
    box-shadow:  3px 0px 30px rgba(163,163,163,0.4);
}

.formulario__input-error{
    font-size: 12px;
    margin-top: 5px ;
    display: none;
}

.formulario__input-error-activo{
    display: block;   
}

.formulario__validacion-estado{
    position: absolute; /* Posición absoluta */
    right: 5px; /* Alineación del icono */
    bottom: 13px; /* Alineación del icono */
    z-index: 100; /* Capa superior */
    font-size: 15px; /* Tamaño de la letra */
    opacity: 0;
    text-align: left;
}

.formulario__chekbox{
    margin-right: 10px;
}


.formulario__grupo-correcto .formulario__validacion-estado{
    color: #17d499;
    opacity: 1;
}

.formulario__grupo-correcto .formulario__input{
    border: 1px solid #17d499;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #ff0000;
    opacity: 1;  /* Muestra el icono */
}   

.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid #ff0000;
}

.formulario__btn{
    outline: 0;
    background: rgb(103, 160, 207);
    color: rgb(102, 101, 101);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease all;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }*/